@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    --heading-font-family: 'Playfair Display', 'Cambria', serif;
    --heading-font-weight: 700;
    --text-font-family: 'Nunito Sans', sans-serif;
    --text-font-weight: 400;

    box-sizing: border-box;
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight);
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: none;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

.sidebar {
    padding: 20px;
    padding-top: 40px;
    background-color: rgb(255, 241, 243);
    overflow-y: scroll;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    flex: 0 0 360px;
}

#lists {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-top: 20px;
}
#lists > li {
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

.task-list-item {
    all: unset;
    background-color: rgb(251, 226, 236);
    border: none;
    padding: 5px;
    padding-left: 30px;
    text-align: left;
    cursor: pointer;
    border-radius: 40px;
    display: block;
    width: calc(100% - 40px)
}
.task-list-item:hover {
    background-color: rgb(241, 211, 223);
}
.task-list-item.selected {
    background-color: rgb(241, 203, 216);
}
.task-list-item.selected:hover {
    background-color: rgb(231, 191, 205);
}

.task-list-item h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.task-list-item h3::selection {
    background-color: transparent;
}

.main {
    overflow-y: scroll;
    flex: 1;
}

h1 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    margin: 0px;
}

#bg-disabled {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#add-list-popup {
    display: block;
    position: fixed;
    width: 500px;
    height: 250px;
    background-color: white;
    top: calc(50% - 125px);
    left: calc(50% - 250px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    z-index: 2;
}

form label {
    display: block;
    margin: 5px 0px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(200, 200, 200);
}

.form-actions {
    margin-top: 30px;
    display: flex;
}
.form-actions button {
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    flex: 1;
}
#add-list-popup-close {
    background-color: rgb(226, 226, 226);
}
#add-list-popup-submit {
    background-color: rgb(244, 172, 214);
}

.hidden {
    display: none !important;
}

.main {
    padding: 40px;
    width: 100%;
    transition: width 0.5s;
}

.task-list {
    margin-top: 20px;
}
.task {
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    align-items: center;
    padding: 5px;
}
.task h3, .task p {
    margin: 0px;
}
.task h3::selection, .task p::selection {
    background-color: transparent;
}
.task p {
    color: #797979;
}
.task-bubble {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(200, 200, 200);
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
}
.task:hover {
    background-color: rgb(249, 249, 249);
    cursor: default;
}
.task-bubble-fill {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: transparent;
}
.task-bubble:hover .task-bubble-fill {
    background-color: rgba(244, 172, 214, 0.5);
}
.task.completed .task-bubble-fill {
    background-color: rgb(228, 135, 189);
}
#new-task-btn {
    background-color: white;
    color: rgb(220, 100, 170);
    border: none;
    font-size: 18px;
    padding: 6px;
}
#new-task-btn .iconify {
    margin-right: 20px;
}
#new-task-btn:hover {
    color: rgb(168, 64, 125);
    cursor: pointer;
}

#task-details {
    flex: 0;
    flex-basis: 0px;
    z-index: 1;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 30px;
    position: relative;
    left: 420px;
}

#task-details.expanded {
    flex-basis: 420px;
    left: 0px;
}

#task-form {
    display: flex;
    height: 100%;
    flex-direction: column;
}
#task-form form {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#task-details input {
    border: none;
    display: block;
    padding: 0px 0px;
    margin: 16px 0px;
    border-radius: 0px;
}
#task-details input:focus {
    border: none;
    outline: none;
}
#task-details input[type="text"] {
    width: 100%;
    font-size: 34px;
    height: 40px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    margin: 0px;
}
#task-details textarea {
    width: 100%;
    border-radius: 0px;
    border: none;
    resize: none;
    flex-grow: 1;
    flex-shrink: 0;
}
#task-details textarea:focus {
    outline: none;
}
#task-form-submit {
    background-color: white;
    padding: 10px;
    flex-basis: 30px;
}
#task-form-submit button {
    border: none;
    background-color: rgb(220, 100, 170);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}